* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box1 {
    background-color: lightcoral;
}
.box2 {
    background-color: lightblue;
}
.box3 {
    background-color: lightgreen;
}
main{
    display: grid;

    /* 2 columns 300px each  it shits the third box down*/
    /* % can also be used ex: 50% */
    /* number + fr ex: 1fr will take the rest of the space */
    /* grid-template-columns: 300px 300px 1fr; */
    /* make them all equal size: 1fr 1fr 1fr */
    grid-template-columns: 1fr 1fr 1fr; 

    /* 1fr will only be as large as the content inside of it */
    /* ex: grid-template-columns: 1fr 1fr */ 
    /* to add height use: height: 100vh; */
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

/* to make the bottom box stretch out to the right edge */
/* can be written: grid-column: 1/3; */ 

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.box2 {
    grid-row: 2/4;
    grid-column: 2/3; 
}

.box3 {
    grid-column: 2/4; 
}
