* {
   margin: 0;
   padding: 0;
}

body {
   font-size: 16px;
   font-family: 'Roboto', sans-serif;
   text-transform: capitalize;
}

/* fonts */ 
h1, h2 {
   font-family: 'Montserrat', sans-serif;
   background-color: rgb(255, 192, 119);
   width: 100%;
}

p {
   font-family: 'Roboto', sans-serif;
}

.side-panel {
   background-color: rgb(188, 255, 235);
   width: 20%;
   float: left;
}

.main {
   background-color: rgb(173, 229, 255);
}