* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgb(214, 213, 213);
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(255, 104, 4, 0.8), rgba(26, 10, 0, 0.8)), url("../img/strat.jpg");
    background-size: cover;
    background-position: center;
    positoin: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: rgb(214, 213, 213);
    text-transform: uppercase;
}

.heading-primary-first {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 36.4px;
    animation: UpDown 1s ease-out;
}

.heading-primary-second {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 25px;
    animation: leftToRight 1s ease-out; 1s ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 13.4px;
    animation: rightToLeft 1s ease-out; 1s ease-out;
}

@keyframes UpDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translatex(0px);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translatex(0px);
    }
}
