body{
   border: 2px dotted black;
   margin: 2% 10% 2% 10%;
   padding: 0px 20px 0px 20px;
   font-size: medium;
}
h1 {
   text-align: center;
   font-size: 220%;
}
h3 {
  font=size: 130%;
}
p.why {
   text-align: center;
}
.center { /*center and image */
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 8px;
}
img {
   max-width: 100%; /* responsive imagek, scales down but */
   height: auto;    /* doesn't go over original size */
}
#history {
  width: 200px;
  background-color: #FAEB9D;
  padding: 0px 15px;
  margin: 10px;
  line-height: 1.6em;
  border-style: dashed;
  border-color: white;
  border-width: thick;
  float: left;
}
/* #platform {
  width: 200px;
} */
a:link {
  color: black;
}
a:visited {
  color: red;
}
a:hover {
  color: green;
}
